<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <span><a href="#">Logout</a></span>
    <div>
        <h2>calander</h2>
        <p>Insert calander here</p>
    </div>
    <div>
        <h1>Weekly Meals</h1>
        <div>
            <ul>M</ul>
            <ul>T</ul>
            <ul>W</ul>
            <ul>TH</ul>
            <ul>F</ul>
            <ul>SA</ul>
            <ul>SU</ul>
        </div>
    </div>
    <div>
        <h2>Goal Tracker</h2>
        <button>Add Goals</button>
    </div>
    
</body>
</html>