 <!DOCTYPE html>
 <html>
    <body>
        <h1>Plan My Meals</h1>
        <form>
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name"><br>
            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name"><br>
            <label for="password">password</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email">
        </form>
        <button>Sign Up</button>
        
    </body>
    
    
</html>